# **Curso Python: Clase 07**
## Bases de datos

In [1]:
import pandas as pd
def read_csv_to_dataframe(file_path):
 try:
  df = pd.read_csv(file_path)
  return df
 except Exception as e:
  print(f"Error reading the CSV file: {e}")
  return None
read_csv_to_dataframe("Terminos_lagoon_TA_DIC_2023_RawData.csv").head()

,sample,date,estuary,area,station,layer_depth,season,chlorophy_microg_l,cond_microsiemens_cm,depth_m,...,do_mg_l,sal_psu,sp_cond_microsiemens_cm,turbidity_fnu,temp_c,latitude,longitude,dic_micromol_kg,ta_micromol_kg,dummy_data
0,CDL01S,5/3/2020,Candelaria,River,CDL01,Surface,Dry,0.36,7015.4,0.464,...,7.12,3.56,6547.7,1.47,28.740,18.55736,-91.25012,3915,3863,3685.0
1,CDL01F,5/3/2020,Candelaria,River,CDL01,Bottom,Dry,4.19,29886.1,7.792,...,4.90,16.97,27751.2,95.33,29.028,18.55722,-91.24990,3698,3685,NaN
2,CDL02S,5/3/2020,Candelaria,River,CDL02,Surface,Dry,0.92,16691.1,0.453,...,6.99,8.94,15429.1,5.50,29.283,18.61007,-91.24410,3724,3708,3708.0
3,CDL02F,5/3/2020,Candelaria,River,CDL02,Bottom,Dry,2.23,24847.4,1.261,...,6.52,13.87,23074.0,13.44,29.024,18.61005,-91.24403,3667,3992,3992.0
4,CDL03S,5/3/2020,Candelaria,River,CDL03,Surface,Dry,0.58,46341.6,0.465,...,6.24,28.06,43670.8,3.60,28.202,18.63166,-91.29359,2928,3023,3023.0

In [2]:
terminos_df = read_csv_to_dataframe("Terminos_lagoon_TA_DIC_2023_RawData.csv")

In [3]:
terminos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sample                   106 non-null    object
 1   date                     106 non-null    object
 2   estuary                  106 non-null    object
 3   area                     106 non-null    object
 4   station                  106 non-null    object
 5   layer_depth              106 non-null    object
 6   season                   106 non-null    object
 7   chlorophy_microg_l       106 non-null    float64
 8   cond_microsiemens_cm     106 non-null    float64
 9   depth_m                  106 non-null    float64
 10  do_percent_sat           106 non-null    float64
 11  do_mg_l                  106 non-null    float64
 12  sal_psu                  106 non-null    float64
 13  sp_cond_microsiemens_cm  106 non-null    float64
 14  turbidity_fnu            106 non-null    float64
 15  temp_c                   106 non-null    float64
 16  latitude                 106 non-null    float64
 17  longitude                106 non-null    float64
 18  dic_micromol_kg          106 non-null    int64
 19  ta_micromol_kg           106 non-null    int64
 20  dummy_data               99 non-null     float64
dtypes: float64(12), int64(2), object(7)
memory usage: 17.5+ KB

In [5]:
terminos_df.columns

Index(['sample', 'date', 'estuary', 'area', 'station', 'layer_depth', 'season',
       'chlorophy_microg_l', 'cond_microsiemens_cm', 'depth_m',
       'do_percent_sat', 'do_mg_l', 'sal_psu', 'sp_cond_microsiemens_cm',
       'turbidity_fnu', 'temp_c', 'latitude', 'longitude', 'dic_micromol_kg',
       'ta_micromol_kg', 'dummy_data'],
      dtype='object')

In [4]:
terminos_df.describe()

,chlorophy_microg_l,cond_microsiemens_cm,depth_m,do_percent_sat,do_mg_l,sal_psu,sp_cond_microsiemens_cm,turbidity_fnu,temp_c,latitude,longitude,dic_micromol_kg,ta_micromol_kg,dummy_data
count,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,99.000000
mean,6.545472,27895.183962,1.830160,89.515094,6.474340,17.331981,27126.980189,100.429623,26.758755,18.615912,-91.602783,2797.981132,2912.915094,2902.888889
std,14.941262,20931.232513,2.038739,29.772291,2.104254,13.578980,20527.530804,290.290113,0.917242,0.112832,0.240359,499.852416,472.694346,473.698989
min,0.360000,13.800000,0.105000,1.700000,0.120000,0.000000,13.700000,0.880000,24.470000,18.424030,-91.902180,2152.000000,2357.000000,2357.000000
25%,2.555000,1778.025000,0.428750,84.575000,5.632500,0.857500,1706.875000,5.950000,26.062000,18.535825,-91.809810,2452.250000,2585.500000,2561.500000
50%,3.705000,33202.600000,0.638500,97.100000,6.940000,19.760000,31803.250000,19.090000,26.806000,18.610050,-91.786895,2646.500000,2823.000000,2814.000000
75%,5.925000,47046.650000,2.883250,105.300000,7.722500,30.297500,46668.975000,54.762500,27.153250,18.698798,-91.367565,2963.250000,3053.750000,3029.000000
max,150.900000,59988.600000,8.558000,174.100000,11.660000,38.780000,58105.000000,2422.930000,29.283000,18.821780,-91.244000,4324.000000,4307.000000,4307.000000

In [1]:
import pandas as pd
# Import the air quality dataset 

CO2Data = pd.read_csv("Terminos_lagoon_TA_DIC_2023_RawData.csv")

print(CO2Data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sample                   106 non-null    object
 1   date                     106 non-null    object
 2   estuary                  106 non-null    object
 3   area                     106 non-null    object
 4   station                  106 non-null    object
 5   layer_depth              106 non-null    object
 6   season                   106 non-null    object
 7   chlorophy_microg_l       106 non-null    float64
 8   cond_microsiemens_cm     106 non-null    float64
 9   depth_m                  106 non-null    float64
 10  do_percent_sat           106 non-null    float64
 11  do_mg_l                  106 non-null    float64
 12  sal_psu                  106 non-null    float64
 13  sp_cond_microsiemens_cm  106 non-null    float64
 14  turbidity_fnu            106 non-null    float64
 15  temp_c                   106 non-null    float64
 16  latitude                 106 non-null    float64
 17  longitude                106 non-null    float64
 18  dic_micromol_kg          106 non-null    int64
 19  ta_micromol_kg           106 non-null    int64
 20  dummy_data               99 non-null     float64
dtypes: float64(12), int64(2), object(7)
memory usage: 17.5+ KB
None

- Load libs and set figure

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt 

#create your own color array (viridis)
my_colors = ["#5ec962", "#3b528b"]

# add color array to set_palette
sns.set(font_scale=2, style="ticks", palette= my_colors)

- plot boxplot with Catplot in Seaborn

In [ ]:
ax = sns.catplot(data=CO2Data,
                 x="area", y="ta_micromol_kg",
                hue="season", col="estuary",
                kind="box", 
                height=7, aspect=1)

  
ax.set(xlabel='', ylabel=' TA ($\mu mol \; kg^{-1}$)')

ax.set_titles(col_template="{col_name}", row_template="{row_name}")

plt.setp(ax._legend.get_title(), fontsize=20)

sns.despine(top=False,right=False)

plt.show()

- plot a violin with Catplot in Seaborn

In [ ]:
ax = sns.catplot(data=CO2Data, 
                x="area", y="ta_micromol_kg",
                hue="season", col="estuary", 
                kind="violin", 
                height=7, aspect=1)

  
ax.set(xlabel='', ylabel=' TA ($\mu mol \; kg^{-1}$)')

ax.set_titles(col_template="{col_name}", row_template="{row_name}")

plt.setp(ax._legend.get_title(), fontsize=20)

sns.despine(top=False,right=False)

plt.show()

- Plotting a three-way ANOVA

In [ ]:

# Draw a pointplot to show pulse as a function of three categorical factors
ax = sns.catplot(
    data=CO2Data, x="season", 
    y="ta_micromol_kg", hue="estuary", col="area",
    capsize=.2, palette="YlGnBu_d", errorbar="se",
    kind="point", height=6, aspect=.75,
)
ax.despine(left=True)

ax.set(xlabel='', ylabel=' TA ($\mu mol \; kg^{-1}$)')

ax.set_titles(col_template="{col_name}", row_template="{row_name}")

plt.setp(ax._legend.get_title(), fontsize=20)

sns.despine(top=False,right=False)

plt.show()

- Scatterplots DIC vs Salinity by Estuary

In [ ]:
ax = sns.lmplot(x="sal_psu", y="ta_micromol_kg",
                hue="season",col="estuary",
                data=CO2Data, 
                height=7, aspect=1)

ax.set(xlabel='Salinity (PSU)', ylabel=' DIC ($\mu mol \; kg^{-1}$)')

ax.set_titles(col_template="{col_name}", row_template="{row_name}")

plt.setp(ax._legend.get_title(), fontsize=20)

sns.despine(top=False,right=False)

plt.show()

## Exercise
- How can you modify the units of the figures?  
- Check the examples at https://seaborn.pydata.org/ and create your own figures. If possible, use your own data.